<!-- Cabecera -->
<header>
  <ul>
    <li><a [routerLink]="['/sobremi']">Sobre mi</a></li>
    <li><a [routerLink]="['/proyectos']">Proyectos</a></li>
    <li class="logo"><a href="#">MA</a></li>
    <li><a [routerLink]="['/crear']">Crear</a></li>
    <li><a [routerLink]="['/contacto']">Contacto</a></li>
  </ul>
</header>

<!-- Contenido de la web -->
 <section id="content">
   <router-outlet></router-outlet>
 </section>

 <!-- Pie de pagina -->
<footer>
  Master en JavaScript google.com &copy;
</footer>