<div [ngStyle]="{
    'background' : config.fondo,
    'padding' : '20px',
    'border' : '5px solid black',
    'border-color' : config.color,
    'border-radius' : '5px'
}">
<h1 [ngStyle]="{
    'margin-top' : '-10px',
    'margin-bottom' : '50px',
}">{{titulo}}</h1>
<app-videojuegos></app-videojuegos>
<button (click)="switchZapatillas(false)" *ngIf="mostrarZapatillas">Ocultar</button>
<button (click)="switchZapatillas(true)" *ngIf="!mostrarZapatillas">Mostrar</button>
<app-zapatillas *ngIf="mostrarZapatillas"></app-zapatillas>
<app-cursos></app-cursos>
</div>