<h2>Contacto</h2>
<form #formContacto="ngForm" (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre:</label><br/>
    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre"><br/>

    <label for="nombre">Apellidos:</label><br/>
    <input type="text" name="apelidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos"><br/>

    <label for="nombre">Email:</label><br/>
    <input type="text" name="email" #email="ngModel" [(ngModel)]="usuario.email"><br/>

    <label for="nombre">Mensaje:</label><br/>
    <textarea name="mensaje" id="" #mensaje="ngModel" [(ngModel)]="usuario.mensaje"></textarea><br/>

    <input type="submit" value="Enviar">
</form>