<h2>{{titulo}}</h2>

    <p>Agregar marca</p>
    <input type="text" [(ngModel)]="miMarca" (blur)="onBlur()" (keyup.enter)="mostrarPalabra()"/>
    <button (click)="getMarca()">mostrar</button>
    <button (click)="setMarca()">agregar marca</button>
    <p>{{miMarca}}</p>

    <p>Compra las zapatillas de las mejores marcas</p>
        <ul>

            <li *ngFor="let elemento of marcas; let indice = index">{{indice+ " "+elemento}}
            <button (click)="borrarMarca(indice)">borrar</button>
            </li>
            
        </ul>



 <p>Las zapatillas disponibles son:</p>   
<ul>
    <li *ngFor="let elemento of zapatillas">

        <div *ngIf="elemento.stock == true">
        {{elemento.marca}} - {{elemento.nombre}} -<strong>{{elemento.precio}} $</strong>
        
        <span *ngIf="elemento.precio <= 10000" 
                    [style.background]="elemento.precio <= 10000 ? 'green' : 'transparent' ">!EN OFERTA!</span>

        </div>

    </li>
</ul>

<p>El color de la mayoria de nuestras zapatillas es:</p>
<ul [ngSwitch]="color">
        <li *ngSwitchCase=" 'yellow' ">
            El color predominante es <span [ngStyle]="{'background' : color}">amarillo.</span>
        </li>
        <li *ngSwitchCase=" 'red' ">
            El color predominante es <span [ngStyle]="{'background' : color}">rojo.</span>
        </li>
        <li *ngSwitchCase=" 'blue' ">
            El color predominante es <span [ngStyle]="{'background' : color}">azul.</span>
        </li>
        <li *ngSwitchCase=" 'orange' ">
            El color predominante es <span [ngStyle]="{'background' : color}">naranja.</span>
        </li>
</ul>