/* You can add global styles to this file, and also import other style files */

/* Importar fuentes personalizadas */
@font-face {
    font-family: "yanone";
    src: url(assets/fonts/yanone.ttf);
}

@font-face {
    font-family: "finger";
    src: url(assets/fonts/finger.ttf);
}


/* Estilos generales */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "yanone", Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: #4A90E2;
    background-attachment: fixed;
}

.clearfix {
    float: none;
    clear: both;
}


/* Barra de navegacion o header */
header {
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(53, 103, 164, 0.95);
    position: fixed;
    text-transform: uppercase;
}

header ul {
    display: block;
    width: 25%;
    height: inherit;
    margin: 0px auto;
    margin-top: -5px;
}

header ul li {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header ul li a {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 400ms;
}

header a:hover,
.actived {
    background: #2C3E50;
}


/* Logotipo */
.logo {
    font-family: "finger";
    font-size: 30px;
}

.logo a {
    transition: color 500ms, transform 500ms;
}

header .logo a:hover {
    background: transparent;
    color: black;
    transform: scale(1.50, 1.50);
}


/* Contenedor principal (section) */
#content {
    min-height: 750px;
    width: 75%;
    margin: 0px auto;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    box-shadow: 0px 0px 40px black;
    background: #F7F9FC;
    padding-top: 120px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Pie de pagina */
footer {
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: #BDC3C7(0, 0, 0, 0.7);
}


/* Sobre mi */
#title {
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

#title h1 {
    font-family: "finger";
    font-size: 60px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

#title h2 {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#title p {
    font-style: italic;
}

article.about {
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 22px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    line-height: 30px;
}

.about h2 {
    padding-bottom: 20px;
}

.about p {
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: justify;
    color: #2C3E50;
}


/* Seccion de crear proyecto */
.container {
    padding: 50px;
    padding-top: 10px;
}

.container h2 {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

form {
    width: 80%;
}

form label {
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea {
    width: 40%;
    padding: 5px;
}

form button,
form input[type="submit"] {
    font-size: 15px;
    padding: 10px;
    display: block;
    margin-top: 25px;
    color: white;
    background: #2C3E50;
    border-radius: 3px;
    border: 1px solid #0c233a;
    cursor: pointer;
}

form button:hover,
form input[type="submit"]:hover {
    background: rgba(44, 62, 80, 0.9);
}

.formError {
    font-size: 15px;
    padding: 3px;
    background: rgba(226, 9, 9, 0.7);
    color: white;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

form input[disabled] {
    background: #ccc;
    cursor: not-allowed;
}

form input[disabled]:hover {
    background: #ccc;
    cursor: not-allowed;
}

.message {
    padding: 5px;
    border: 1px solid #eee;
    width: 40%;
}

.succes {
    background: rgba(200, 230, 201, 1);
    border-radius: 5px;
    color: #256029;
}

.succes a{
    color: black;
}

.failed {
    background: rgba(255, 205, 210, 1);
    border-radius: 5px;
    border: 1px solid #e57373;
    color: #b71c1c;
}