/* You can add global styles to this file, and also import other style files */

/* Fuentes personalizadas */
@font-face{
    font-family: "yanone";
    src: url(assets/fonts/yanone.ttf);
}

@font-face{
    font-family: "finger";
    src: url(assets/fonts/finger.ttf);
}


/* Estilos generales */
body{
    font-family: "yanone", Arial, Helvetica, sans-serif;
}